<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/uiv"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-router"></script>
<script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.22.1/moment.min.js"></script>
<script src="https://cdn.rawgit.com/simplesmiler/vue-clickaway/2.1.0/dist/vue-clickaway.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div id="app">
	<modal
		v-model="view.confirm.show"
		title="系統提醒"
		size="sm"
		ok-text='確認'
		cancel-text='取消'
		v-on:hide='confirmHide'>
	<p v-html='view.confirm.message'></p>
	</modal>
	<modal
		v-model="view.loading"
		title="系統提醒"
		size="lg"
		:footer="false"
		:backdrop="false">
	<p>資料處理中，請稍候...</p>
	</modal>
	<div class="col-md-10 col-md-offset-1">
		<collapse v-model="view.alerts.length > 0">
			<alert
				v-for="(item, index) in view.alerts"
				v-bind:type='item.type'
				class='alert-csc' dismissible @dismissed="view.alerts.splice(index, 1);"> 
				<b>系統訊息：</b> <span v-html='item.message'></span>
			</alert>
		</collapse>
		<h3>{{title}}</h3>
		<tabs>
		    <tab title="訂購">
		    	<div class="panel panel-info">
					<div class='panel-heading'>
						<div class=" form-inline">
							<div class='form-group'>
								<div class='input-group'>
									<span class='input-group-addon'>訂購人</span>
									<tooltip text="必須填寫訂購人&訂購項目" trigger="manual" 
									         v-model="nameEmpty"
									         placement="bottom">
										<input type='text' @change="nameEmpty = false" 
										       class='form-control' v-model='name'>
									</tooltip>
								</div>
							</div>
							<btn
								type='info'
								@click="query"
								><i class="fa fa-search" aria-hidden="true"></i> 查詢
							</btn>
						</div>
						<div class=" form-inline">
							<btn
								type='info'
								@click="showConfirm('send')"
								:disabledd="inOrderTime"
								><i class="fa fa-paper-plane" aria-hidden="true"></i> 訂購
							</btn>
							<btn
								type='danger'
								@click="deleteData"
								:disabled="inOrderTime"
								><i class="fa fa-trash" aria-hidden="true"></i> 取消訂購
							</btn>
						</div>
					</div>
					<div class="panel-footer">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<span role="button" @click="showOrder = !showOrder">
									訂購項目  <i class="fa fa-plus" aria-hidden="true"></i>
								</span>
							</div>
					    	<collapse v-model="showOrder">
								<div class="panel-body">
								    <table class="table table-striped">
										<thead>
											<tr>
												<th>項目</th>
												<th>細項</th>
												<th>金額</th>
												<th>數量</th>
												<th>備註</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, index) in order">
												<td>{{item.name}}</td>
												<td>{{item.sub}}</td>
												<td>${{item.amt}}</td>
												<td>{{item.qty}}</td>
												<td>
													<textarea rows="3" cols="10" class="form-control" v-model="item.comment">
													</textarea>
												</td>
												<td>
													<btn
														type='danger'
														@click="deleteItem(item)"
														:disabled="inOrderTime"
														><i class="fa fa-minus" aria-hidden="true"></i> 刪除</btn>
												</td>
											</tr>
										</tbody>
										<tfoot>
											<tr class="success">
												<td colspan="2">合計</td>
												<td colspan="4">${{totalAmt}}</td>
											</tr>
										</tfoot>
									</table>
								</div>
					    	</collapse>
						</div>
					</div>
					<div class="panel-body">
						<div class="panel panel-warning">
							<div class="panel-heading">
								<span role="button" @click="showMenu = !showMenu">
									菜單  <i class="fa fa-plus" aria-hidden="true"></i>
								</span>
							</div>
					      	<collapse v-model="showMenu">
								<div class="panel-body">
									<table class="table table-striped">
										<thead>
											<tr>
												<th style="width:180px">項目</th>
												<th style="width:180px">細項</th>
												<th>金額</th>
												<th style="width:100px">數量</th>
												<th style="width:180px">備註</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="(item, index) in menu">
												<td>{{item.name}}</td>
												<td>
													<tooltip text="必須選擇細項" trigger="manual" v-model="item.showSubError">
														<select class="form-control" v-show="item.subs != null" style="width:150px"
														        v-model="item.sub">
														    <option v-for="(sub, seq) in item.subs" style="font-size: 12pt"
																	:value="sub" :key="sub">
														 			{{sub}}</option>
														</select> 
													</tooltip>
												</td>
												<td>${{item.amt}}</td>
												<td>
													<select class="form-control" v-model="item.qty" style="width:80px">
													    <option v-for="n in 10" style="font-size: 12pt"
																:value="n" :key="n">
													 			{{n}}</option>
													</select> 
												</td>
												<td>
													<textarea rows="3" cols="10" class="form-control" v-model="item.comment">
													</textarea>
												</td>
												<td>
													<btn
														type='success'
														@click="push(item)"
														:disabled="inOrderTime"
														><i class="fa fa-plus" aria-hidden="true"></i> 新增</btn>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</collapse>
						</div>
					</div>
				</div>
		    </tab>
		    <tab title="全部訂購">
				<div class="panel panel-info">
					<div class="panel-heading">
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>訂購人</th>
									<th>項目</th>
									<th>細項</th>
									<th>金額</th>
									<th>數量</th>
									<th>備註</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item, index) in allOrder">
									<td>{{item.id}}</td>
									<td>{{item.name}}</td>
									<td>{{item.sub}}</td>
									<td>${{item.amt}}</td>
									<td>{{item.qty}}</td>
									<td>
										<textarea rows="3" cols="10" 
										          class="form-control" 
										          v-model="item.comment" readonly>
										</textarea>
									</td>
									<td> {{item.status ? '已付款' : '尚未付款'}}
										<btn
											type='success' v-show="name == auth.sysAdmin || name == auth.contractor"
											@click="checkItem(item)"
											><i class="fa fa-check" 
											    aria-hidden="true"></i> 付款
									    </btn>
										<btn
											type='danger' v-show="name == auth.sysAdmin"
											@click="deleteItem(item)"
											><i class="fa fa-trash" 
											    aria-hidden="true"></i> 刪除
									    </btn>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		    </tab>
		    <tab title="總計資料">
				<div class="panel panel-info">
					<div class="panel-heading">
					</div>
					<div class="panel-body">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>項目</th>
									<th>細項</th>
									<th>金額</th>
									<th>數量</th>
									<th>備註</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(item, index) in summaryOrder">
									<td>{{item.name}}</td>
									<td>{{item.sub}}</td>
									<td>${{item.amt}}</td>
									<td>{{item.qty}}</td>
									<td>
										<textarea rows="3" cols="10" 
										          class="form-control" 
										          v-model="item.comment" readonly>
										</textarea>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr class="success">
									<td colspan="2">合計</td>
									<td colspan="3">${{summaryAmt}}</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
		    </tab>
	    </tabs>	
	
		
	</div>
</div>
<script>
var app = new Vue({
	el: '#app',
	data: {
	    view: {
	        alerts: [],
	        loading: false,
	        confirm: {
	            show: false,
	            message: '',
	            action: ''
	        },
	    },
	    auth: {},
	    title: '',
	    name: '',
	    menu: [],
	    order: [],
	    showMenu: true,
	    showOrder: true,
	    nameEmpty: false,
	    allOrder: [],
	    summaryOrder: [],
	    inOrderTime: true,
	},
	computed: {
	    totalAmt: function() {
	        var totalAmt = 0;
	        for(index in this.order) {
	            totalAmt += this.order[index].amt * this.order[index].qty;
	        }
	        return totalAmt;
	    },
	    summaryAmt: function() {
	        var totalAmt = 0;
	        for(index in this.summaryOrder) {
	            totalAmt += this.summaryOrder[index].amt * this.summaryOrder[index].qty;
	        }
	        return totalAmt;
	        
	    },
	    
	},
	methods: {
	    send: function() {
	        if(this.name.length == 0) {
	            this.nameEmpty = true;
	            return;
	        } 
	        if(this.order.length == 0) {
	            this.nameEmpty = true;
	            return;
	        } 
	        this.nameEmpty = false;
	        
	        var data = {};
	        var order = [];
	        for(index in this.order) {
	            var temp = {};
	            temp["name"] = this.order[index]["name"];
	            temp["sub"] = this.order[index]["sub"] == undefined ? '' : this.order[index]["sub"];
	            temp["qty"] = this.order[index]["qty"];
	            temp["comment"] = this.order[index]["comment"] == undefined ? '' : this.order[index]["comment"];
	            temp["amt"] = this.order[index]["amt"];
	            order.push(temp);
	        }
	        data["order"] = JSON.stringify(order);
	        data["name"] = this.name;
	        data["actionType"] = 'send';
            send(data);
		},
		push: function(item) {
		    if(item.qty <= 0) {
		        item.showQtyError = true;
		        return;
		    }
		    if(item.subs && item.subs.length > 0 && 
		            (item.sub == undefined || item.sub == null || item.sub.length == 0)) {
		        item.showSubError = true;
		        return;
		    }
		    item.showSubError = false;
		    
		    var temp = this.order.filter(function(el) {
		       return el.name == item.name && el.sub == item.sub;
		    });
		    if(temp && temp.length == 1) {
		        temp[0].qty += item.qty;
		        if(item.comment.length > 0)
		        temp[0].comment += ',' + item.comment;
		    } else
		    	this.order.push($.extend(true, {}, item));
		},
		query: function() {
		    query(this.name);
		},
		deleteData: function() {
		    deleteData(this.name);
		},
		deleteItem: function(item) {
		    deleteItem(item);
		},
		checkItem: function(item) {
		    checkItem(item);
		},
		getTitle: function() {
	        this.inOrderTime = true;
	        if(moment(this.auth.orderEnd) > new Date()) {
	            this.inOrderTime = false;
	        }
	        if(this.auth != undefined && this.auth != null) {
	            this.title =  moment(this.auth.orderDate).format('YYYY-MM-DD') + ' 菜單:' + this.auth.todayMenu + (this.inOrderTime ? ' 已截止' : ''); 
	        }
	        
	    },
		// 顯示確認框
		showConfirm: function(action) {
			var message = '';
			
			if (action != 'send') {
				message = '確認操作？';
			} else {
				message = '訂購會將先前訂購資料刪除後重新新增<br>請確認當前資料為完整訂購資料<br>';
			}
			this.view.confirm.message = message;
			this.view.confirm.action = action;
			this.view.confirm.show = true;
		},
		// 隱藏確認框
		confirmHide: function(msg) {
			if (msg !== 'ok') return;
			
			this.send();
		},
	},
});

// 刪除全部
function deleteData(name) {
    app.view.loading = true;
    $.ajax({
        // 這邊用get type
        type: "get",
        // api url - google appscript 產出的 url
        url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
        // 剛剛整理好的資料帶入
        data: {actionType: 'delete', name: name},
        // 資料格式是JSON 
        dataType: "JSON",
        // 成功送出 會回頭觸發下面這塊感謝
        success: function (response) {
            app.view.loading = false;
            app.order = [];
            getSetting();
    		queryAll();
        }
      });
}

// 刪除單一項目
function deleteItem(item) {
    app.view.loading = true;
    app.order.splice(app.order.indexOf(item), 1);
    $.ajax({
        // 這邊用get type
        type: "get",
        // api url - google appscript 產出的 url
        url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
        // 剛剛整理好的資料帶入
        data: {actionType: 'deleteItem', order: JSON.stringify(item)},
        // 資料格式是JSON 
        dataType: "JSON",
        // 成功送出 會回頭觸發下面這塊感謝
        success: function (response) {
            app.view.loading = false;
            getSetting();
        	queryAll();
        }
      });
}

//付款單一項目
function checkItem(item) {
    app.view.loading = true;
    $.ajax({
        // 這邊用get type
        type: "get",
        // api url - google appscript 產出的 url
        url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
        // 剛剛整理好的資料帶入
        data: {actionType: 'checkItem', order: JSON.stringify(item)},
        // 資料格式是JSON 
        dataType: "JSON",
        // 成功送出 會回頭觸發下面這塊感謝
        success: function (response) {
            app.view.loading = false;
            getSetting();
        	queryAll();
        }
      });
}

// 查詢
function query(name) {
    app.view.loading = true;
    app.order = [];
	$.ajax({
	  // 這邊用get type
	  type: "get",
	  // api url - google appscript 產出的 url
	  url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
	  // 剛剛整理好的資料帶入
	  data: {actionType: 'query', name: name},
	  // 資料格式是JSON 
	  dataType: "JSON",
	  // 成功送出 會回頭觸發下面這塊感謝
	  success: function (response) {
	        app.view.loading = false;
	      
	      app.order = response;
	  }
	});
}

// 查詢全部
function queryAll() {
    app.view.loading = true;
  $.ajax({
    // 這邊用get type
    type: "get",
    // api url - google appscript 產出的 url
    url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
    // 剛剛整理好的資料帶入
    data: {actionType: 'queryAll'},
    // 資料格式是JSON 
    dataType: "JSON",
    // 成功送出 會回頭觸發下面這塊感謝
    success: function (response) {
        app.view.loading = false;
        app.allOrder = [];
        app.summaryOrder = [];
        if(response && response.length > 0) {
            var summaryOrder = [];
            app.allOrder = response;
            for(index in response) {
                var temp = response.filter(function(el){
                    return el.name == response[index].name && 
                    el.sub == response[index].sub;
                });
                if(temp && temp.length > 0) {
                    var item = {};
                    item["name"] = response[index].name;
                    item["sub"] = response[index].sub;
                    item["amt"] = response[index].amt;
                    item["qty"] = 0;
                    item["comment"] = '';
                    for(i in temp) {
                        item["qty"] += temp[i].qty;
                        if(temp[i].comment && temp[i].comment.length > 0) {
                            item["comment"] += temp[i].id + ': ' + temp[i].comment;
                        }
                    }

                    var isExists = summaryOrder.filter(function(el){
                        return el.name == response[index].name && 
                        el.sub == response[index].sub;
                    });
                    if(isExists == null || isExists == undefined || isExists.length == 0) {
                        summaryOrder.push(item);
                    }
                }
	        }
            app.summaryOrder = summaryOrder;
        }
    }
  });
}

// 傳送訂購資料
function send(data){
    app.view.loading = true;
    app.view.alerts = [];
  $.ajax({
    // 這邊用get type
    type: "get",
    // api url - google appscript 產出的 url
    url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
    // 剛剛整理好的資料帶入
    data: data,
    // 資料格式是JSON 
    dataType: "JSON",
    // 成功送出 會回頭觸發下面這塊感謝
    success: function (response) {
        app.view.loading = false;
        app.order = [];
        app.allOrder = [];
        app.summaryOrder = [];
        getSetting();
        query(app.name);
        queryAll();
        writeCookie("dinbendonSessionId", app.name, 3);
        app.view.alerts = [{
            type: 'success',
            message: '訂購成功。'
        }];
    }
  });
}
function writeCookie(name, value, days) {
    var date, expires;
    if (days) {
        date = new Date();
        date.setTime(date.getTime()+(days*24*60*60*1000));
        expires = "; expires=" + date.toGMTString();
            }else{
        expires = "";
    }
    document.cookie = name + "=" + value + expires + "; path=/";
}

function readCookie(name) {
    var i, c, ca, nameEQ = name + "=";
    ca = document.cookie.split(';');
    for(i=0;i < ca.length;i++) {
        c = ca[i];
        while (c.charAt(0)==' ') {
            c = c.substring(1,c.length);
        }
        if (c.indexOf(nameEQ) == 0) {
            return c.substring(nameEQ.length,c.length);
        }
    }
    return '';
}

function getSetting() {
    app.view.loading = true;
  $.ajax({
    // 這邊用get type
    type: "get",
    // api url - google appscript 產出的 url
    url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
    // 剛剛整理好的資料帶入
    data: {actionType: 'getSetting'},
    // 資料格式是JSON 
    dataType: "JSON",
    // 成功送出 會回頭觸發下面這塊感謝
    success: function (response) {
        app.view.loading = false;
        for(index in response) {
            if(response[index].item.length > 0) 
            	response[index]["subs"] = JSON.parse(response[index].item);
        	response[index]["showQtyError"] = false;
        	response[index]["showSubError"] = false;
        }
        app.menu = response;
        getAuth();
    }
  });
}

function getAuth() {
  $.ajax({
    // 這邊用get type
    type: "get",
    // api url - google appscript 產出的 url
    url: "https://script.google.com/macros/s/AKfycbxc88Mgyz7EH52Q6zDjdusohi-Fl5LdIGhVIV_ETGp8mrDa1NtP/exec",
    // 剛剛整理好的資料帶入
    data: {actionType: 'getAuth'},
    // 資料格式是JSON 
    dataType: "JSON",
    // 成功送出 會回頭觸發下面這塊感謝
    success: function (response) {
        var auth = response[0];
        app.auth = auth;
        app.getTitle();
    }
  });
}

$(function(){
    getSetting();
    var name = readCookie("dinbendonSessionId");
    if(name.length > 0)
        query(name);
    app.name = name;
    queryAll();
});
</script>
