
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src='https://unpkg.com/konva/konva.js'></script>
    <script src='https://unpkg.com/vue-konva/umd/vue-konva.min.js'></script>
  </head>

  <body>
    <div id="app"><v-app id="inspire">
    <v-system-bar app>
      <v-spacer></v-spacer>

      <v-icon>mdi-square</v-icon>

      <v-icon>mdi-circle</v-icon>

      <v-icon>mdi-triangle</v-icon>
    </v-system-bar>

    <v-navigation-drawer
      v-model="drawer" app absolute mini-variant expand-on-hover left :mini-variant.sync="mini" 
      
    >
      <v-sheet
        color="grey lighten-4"
        class="pa-4"
      >
        <v-avatar
          class="mb-4"
          color="grey darken-1"
          :size="mini ? 32 : 64"
        ></v-avatar>

        <div>{{mini ? 'john' : 'john@vuetifyjs.com'}}</div>
      </v-sheet>

      <v-divider></v-divider>

      <v-list>
        <v-list-item
          v-for="[icon, text] in links"
          :key="icon"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <v-container
        class="py-8 px-6"
        fluid
      >
        <v-row>
          <v-col cols="12">
            <v-card  height="70vh">
              <v-subheader>
				  <v-file-input label="選擇圖片" 
					      capture="user"
						  accept="image/*"
						  prepend-icon="mdi-camera"
						  @change="imgChange"/>
			  </v-subheader>
				<v-row>
                  <v-col cols="10">
                  </v-col>
                </v-row>
				<v-row>
                  <v-col cols="10">
					<v-stage ref="stage" :config="{image: image, width: width, height: height}"
						    @mousedown="handleStageMouseDown"
							@touchstart="handleStageMouseDown" style="margin-left: 20px;">
					  <v-layer ref="layer1">
					    <v-image :config="{image: image, width: width, height: height}"/>
					  </v-layer>
					  <v-layer ref="layer2">
					    <v-rect v-for="(item, index) in shapes" :ref="shapes + index" v-if="item.isRect" :key="index" :config="item" @transformend="handleTransformEnd"></v-rect>
						<v-circle v-for="(item, index) in shapes" :ref="shapes + index" v-if="item.isCircle" :key="index" :config="item" @transformend="handleTransformEnd"></v-circle>				
						<v-arrow v-for="(item, index) in shapes" :ref="shapes + index" v-if="item.isArrow" :key="index" :config="item" @transformend="handleTransformEnd"></v-arrow>
						<v-text v-for="(item, index) in shapes" :ref="shapes + index" v-if="item.isText" :key="index" :config="item" @transformend="handleTransformEnd" @dblclick="textDbClick" @dbltap="textDbClick"></v-text>
						<v-transformer ref="transformer" v-if="showTrans" />
					  </v-layer>
					</v-stage>
                  </v-col>
                  <v-col cols="2">
					<v-btn @click="addRect" class="mx-2" fab small>
						<v-icon>mdi-rectangle-outline</v-icon>
					</v-btn>
					<v-btn @click="addCircle" class="mx-2" fab small>
						<v-icon>mdi-circle-outline</v-icon>
					</v-btn>
					
					<v-btn @click="addArrow" class="mx-2" fab small>
						<v-icon>mdi-arrow-bottom-right</v-icon>
					</v-btn>
					
					<v-btn @click="addText" class="mx-2" fab small>
						<v-icon>mdi-alpha-t-box-outline</v-icon>
					</v-btn>
					
					<v-btn @click="deleteItem()" class="mx-2" fab small>
						<v-icon>mdi-trash-can-outline</v-icon>
					</v-btn>
					
					<v-btn @click="saveItem()" class="mx-2" fab small>
						<v-icon>mdi-content-save</v-icon>
					</v-btn>
					
					<v-btn @click="save()" class="mx-2" fab small>
						<v-icon>mdi-download</v-icon>
					</v-btn>
					
					
					
					
                  </v-col>
                </v-row>
            </v-card>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
    </div>
    <script>
	var vue = new Vue({
        el: '#app',
		vuetify: new Vuetify(
		),
		data: {
		    cards: ['Today', 'Yesterday'],
			drawer: null,
			  links: [
				['mdi-inbox-arrow-down', 'Inbox'],
				['mdi-send', 'Send'],
				['mdi-delete', 'Trash'],
				['mdi-alert-octagon', 'Spam'],
			],
			mini: true,
			rate: 1,
			widthRate: 0.65,
			width: 0,
			height: 0,
			configStage: {
				width: this.width,
				height: this.height
			},
			configCircle: {
				x: 100,
				y: 100,
				radius: 70,
				fill: 'red',
				stroke: 'black',
				strokeWidth: 4
			},
			image: null,
			shapes: [],
			textConfig: {
				name: 'text',
				x: 100,
				y: 100,
				text: 'Simple Text',
				fontSize: 24,
				fontFamily: 'Calibri',
				fill: 'red',
				isRect: false,
				isCircle: false,
				isArrow: false,
				isText: true,
				draggable: true,
			},
			rectConfig: {
				rotation: 0,
				x: 10,
				y: 10,
				width: 100,
				height: 100,
				scaleX: 1,
				scaleY: 1,
				fill: '',
				name: 'rect',
				draggable: true,
				stroke: 'red',
				strokeWidth: 2,
				isRect: true,
				isCircle: false,
				isArrow: false,
				isText: false,
			},
			circleConfig: {
				rotation: 0,
				x: 100,
				y: 100,
				width: 80,
				height: 80,
				scaleX: 1,
				scaleY: 1,
				radius: 70,
				fill: '',
				name: 'circle',
				draggable: true,
				stroke: 'red',
				strokeWidth: 2,
				isRect: false,
				isCircle: true,
				isArrow: false,
				isText: false,
			},
			arrowConfig: {
				name: 'arrow',
				rotation: 0,
				x: 100,
				y: 100,
				points: [0, 0, 80 / 2, 80 / 2],
				pointerLength: 20,
				pointerWidth: 20,
				fill: 'red',
				stroke: 'red',
				strokeWidth: 2,
				isRect: false,
				isCircle: false,
				isArrow: true,
				isText: false,
				draggable: true,
			},
			selectedShapeName: '',
			textarea: null,
			showTrans: true,
			selectedNode: null,
		},
		watch: {
			'mini': function() {
				this.widthRate = 0.65;
				this.resize();
			}
		},
		methods: {
			cloneObj: function(obj) {
				return JSON.parse(JSON.stringify(obj));
			},
			addRect: function() {
				var rect = this.cloneObj(this.rectConfig);
				rect.name += (this.shapes.length + 1);
				this.shapes.push(rect);
			},
			addCircle: function() {
				var circle = this.cloneObj(this.circleConfig);
				circle.name += (this.shapes.length + 1);
				this.shapes.push(circle);
			},
			addArrow: function() {
				var arrow = this.cloneObj(this.arrowConfig);
				arrow.name += (this.shapes.length + 1);
				this.shapes.push(arrow);
			},
			addText: function() {
				var text = this.cloneObj(this.textConfig);
				text.name += (this.shapes.length + 1);
				this.shapes.push(text);
			},
			findObject(name) {
				var shape = this.shapes.find(
					(r) => r.name === name
				);
				return shape;
			},
			deleteItem: function() {
				if(this.selectedShapeName.length == 0) return;
				var shape = this.findObject(this.selectedShapeName);
				
				var index = this.shapes.indexOf(shape);
				this.shapes.splice(index, 1);
				
				this.selectedShapeName = '';
				this.updateTransformer();
			},
			handleTransformEnd(e) {
			  // shape is transformed, let us save new attrs back to the node
			  // find element in our state
			  var shape = this.findObject(this.selectedShapeName);
			  // update the state
			  shape.x = e.target.x();
			  shape.y = e.target.y();
			  shape.rotation = e.target.rotation();
			  shape.scaleX = e.target.scaleX();
			  shape.scaleY = e.target.scaleY();
			},
			handleStageMouseDown(e) {
			  // clicked on stage - clear selection
			  if(vue.textarea && e.target != vue.textarea) {
				this.selectedShapeName = '';
				
				vue.removeTextarea();
				this.updateTransformer();
				return;
			  }
			  if (e.target === e.target.getStage()) {
				this.selectedShapeName = '';
				this.updateTransformer();
				return;
			  }

			  // clicked on transformer - do nothing
			  var clickedOnTransformer =
				e.target.getParent().className === 'Transformer';
			  if (clickedOnTransformer) {
				return;
			  }

			  // find clicked rect by its name
			  var name = e.target.name();
			  
			  var s = this.findObject(name);
			  if (s) {
				this.selectedShapeName = name;
			  } else {
				this.selectedShapeName = '';
			  }
			  
			  var vm = this;
			  vm.shapes.forEach(function(item, index){
				var shape = vm.shapes[index];
				var e = vm.$refs.layer2.getNode().children[index];
				// update the state
				shape.x = e.x();
				shape.y = e.y();
				shape.rotation = e.rotation();
				shape.scaleX = e.scaleX();
				shape.scaleY = e.scaleY();
				shape.width = e.width();
				shape.height = e.height();
			  });
			  this.updateTransformer();
			},
			updateTransformer() {
			  // here we need to manually attach or detach Transformer node
			  var transformerNode = this.$refs.transformer.getNode();
			  var stage = transformerNode.getStage();
			  var { selectedShapeName } = this;

			  var selectedNode = stage.findOne('.' + selectedShapeName);
			  // do nothing if selected node is already attached
			  if (selectedNode === transformerNode.node()) {
				return;
			  }

			  if (selectedNode) {
				// attach to another node
				transformerNode.nodes([selectedNode]);
			  } else {
				// remove transformer
				transformerNode.nodes([]);
			  }
				
			},
			saveItem: function() {
				var vm = this;
				vm.shapes.forEach(function(item, index){
					var shape = vm.shapes[index];
					var e = vm.$refs.layer2.getNode().children[index];
					// update the state
					shape.x = e.x();
					shape.y = e.y();
					shape.rotation = e.rotation();
					shape.scaleX = e.scaleX();
					shape.scaleY = e.scaleY();
					shape.width = e.width();
					shape.height = e.height();
				});
				localStorage.setItem('storage', JSON.stringify(vm.shapes));
			},
			loaded: function() {
			    const data = localStorage.getItem('storage') || '[]';
			    this.shapes = JSON.parse(data);
			},
			resize: function() {
				var width = window.innerWidth * this.widthRate;
				var height = window.innerHeight * 0.55;
				
				const img = new Image();
				img.src = "02-xl.jpg";
				img.onload = () => {
				  // set image only when it is loaded
				  var w, h;
				  if(img.width > width) {
					var rate = width / img.width;
					w = img.width * rate;
					h = img.height * rate;
				  }
				  if(h > height) {
					var rate = height / img.height;
					w = img.width * rate;
					h = img.height * rate;
				  }
				  vue.width = w;
				  vue.height = h;
				  vue.image = img;
				  vue.loaded();
				};
			},
			getPosition(obj, prop, getParent) {
				if(getParent && obj.offsetParent == null) {
					return 0;
				} else {
					return obj[prop] + this.getPosition(obj.offsetParent, prop, true);
				}
			},
			textDbClick: function(e) {
				//console.log(e);
				var shape = this.findObject(this.selectedShapeName);
				var index = this.shapes.indexOf(shape);
				e = this.$refs.layer2.getNode().children[index];
				var textNode = e;
				var stage = vue.$refs.stage.getStage();
				
				var x = this.getPosition(stage.getContent(), 'offsetLeft') + shape.x;
				var y = this.getPosition(stage.getContent(), 'offsetTop') + shape.y;
				
				vue.textarea = document.createElement('textarea');
				var textarea = vue.textarea;
				document.body.appendChild(textarea);
				textarea.value = shape.text;
				textarea.style.position = 'absolute';
				textarea.style.top = y + 'px';
				textarea.style.left = x + 'px';
				textarea.style.width = textNode.width() - textNode.padding() * 2 + 'px';
				textarea.style.height =
				  textNode.height() - textNode.padding() * 2 + 5 + 'px';
				textarea.style.fontSize = textNode.fontSize() + 'px';
				textarea.style.border = 'none';
				textarea.style.padding = '0px';
				textarea.style.margin = '0px';
				textarea.style.overflow = 'hidden';
				textarea.style.background = 'none';
				textarea.style.outline = 'none';
				textarea.style.resize = 'none';
				textarea.style.lineHeight = textNode.lineHeight();
				textarea.style.fontFamily = textNode.fontFamily();
				textarea.style.transformOrigin = 'left top';
				textarea.style.textAlign = textNode.align();
				textarea.style.color = textNode.fill();
				rotation = textNode.rotation();
				var transform = '';
				if (rotation) {
				  transform += 'rotateZ(' + rotation + 'deg)';
				}

				var px = 0;
				// also we need to slightly move textarea on firefox
				// because it jumps a bit
				var isFirefox =
				  navigator.userAgent.toLowerCase().indexOf('firefox') > -1;
				if (isFirefox) {
				  px += 2 + Math.round(textNode.fontSize() / 20);
				}
				transform += 'translateY(-' + px + 'px)';

				textarea.style.transform = transform;

				// reset height
				textarea.style.height = 'auto';
				// after browsers resized it we can set actual value
				textarea.style.height = textarea.scrollHeight + 3 + 'px';

				textarea.focus();
				
				textarea.addEventListener('keydown', function (e2) {
				  // hide on enter
				  // but don't hide on shift + enter
				  if (e2.keyCode === 13 && !e2.shiftKey) {
					textNode.text(textarea.value);
					vue.removeTextarea();
				  }
				  // on esc do not set value back to node
				  if (e2.keyCode === 27) {
					vue.removeTextarea();
				  }
				});
				
				vue.selectedNode = shape;
				
				shape.isText = false;
				//this.showTrans = false;
			},
			removeTextarea() {
			  if(vue.textarea) {
			    vue.selectedNode.text = vue.textarea.value;
			  }
			  vue.textarea.parentNode.removeChild(vue.textarea);
			  vue.textarea = null;
			  
			  vue.selectedNode.isText = true;
			  vue.updateTransformer();
			},
			setTextareaWidth(newWidth) {
				if (!newWidth) {
					// set width for placeholder
					newWidth = textNode.placeholder.length * textNode.fontSize();
				}
				// some extra fixes on different browsers
				var isSafari = /^((?!chrome|android).)*safari/i.test(
					navigator.userAgent
				);
				var isFirefox =
					navigator.userAgent.toLowerCase().indexOf('firefox') > -1;
				if (isSafari || isFirefox) {
					newWidth = Math.ceil(newWidth);
				}

				var isEdge =
					document.documentMode || /Edge/.test(navigator.userAgent);
				if (isEdge) {
					newWidth += 1;
				}
				textarea.style.width = newWidth + 'px';
			},

			downloadURI(uri, name) {
				var link = document.createElement('a');
				link.download = name;
				link.href = uri;
				document.body.appendChild(link);
				link.click();
				document.body.removeChild(link);
				delete link;
			},
			save: function() {
				var dataURL = vue.$refs.stage.getStage().toDataURL({ pixelRatio: 3 });
				vue.downloadURI(dataURL, 'stage.png');
			},
			imgChange: function(e) {
				var width = window.innerWidth * 0.65;
				var height = window.innerHeight * 0.55;
				
				this.rate = window.innerWidth / 1920;
				this.width = width;
				this.height = height;
				var URL = window.webkitURL || window.URL;
				var url = URL.createObjectURL(e);
				const img = new Image();
				img.src = url;
				img.onload = () => {
				  // set image only when it is loaded
				  if(img.width > width) {
					var rate = width / img.width;
					vue.width = img.width * rate;
					vue.height = img.height * rate;
				  }
				  if(vue.height > height) {
					var rate = height / img.height;
					vue.width = img.width * rate;
					vue.height = img.height * rate;
				  }
				  vue.image = img;
				  vue.loaded();
				};
			},
		},
		mounted: function() {
			var width = window.innerWidth * 0.65;
			var height = window.innerHeight * 0.55;
			
			this.rate = window.innerWidth / 1920;
			this.width = width;
			this.height = height;
			
			const img = new Image();
			img.src = "02-xl.jpg";
			img.onload = () => {
			  // set image only when it is loaded
			  if(img.width > width) {
				var rate = width / img.width;
				vue.width = img.width * rate;
				vue.height = img.height * rate;
			  }
			  if(vue.height > height) {
				var rate = height / img.height;
				vue.width = img.width * rate;
				vue.height = img.height * rate;
			  }
			  vue.image = img;
			  vue.loaded();
			};
		},
    })
    </script>
  </body>
</html>
