<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.js"></script>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<div id="app">
  row:
  <el-select v-model="row" size="mini" @change="pushRow(row)">
    <el-option v-for="n in 12" :key="n" :label="n" :value="n"></el-option>
  </el-select>
  col:
  <el-select v-model="col" size="mini" @change="pushCol(row, col)">
    <el-option v-for="n in 16" :key="n" :label="n" :value="n"></el-option>
  </el-select>
  <table border="1">
    <tr v-for="y1 in row">
      <td v-for="x1 in col">
        <el-button size="mini" @click="x=x1; y=y1; visible=true" circle :type="getVal(x1, y1, 'type1')" :icon="list[y1-1][x1-1].icon1"></el-button>
      </td>
    </tr>
  </table>
  
  <el-dialog title="選擇項目" :visible.sync="visible" width="30%">
  需要選擇方向：<el-select size="mini" v-model="direction">
			      <el-option label="上" value="top"></el-option>
				  <el-option label="下" value="bottom"></el-option>
				  <el-option label="左" value="left"></el-option>
				  <el-option label="右" value="right"></el-option>
				</el-select>
  <table border="1">
	<tr>
	  <td>
		<el-button size="mini" type="danger" icon="el-icon-caret-right" 
			@click="changeIcon('el-icon-caret-', 'danger', direction, x, y)" circle></el-button>傳送攪拌器
	  </td>
	  <td>
		<el-button size="mini" type="warning" icon="el-icon-caret-right" circle
			@click="changeIcon('el-icon-caret-', 'warning', direction, x, y)"></el-button>組合器
	  </td>
	  <td>
		<el-button size="mini" type="success" icon="el-icon-caret-right" circle
			@click="changeIcon('el-icon-caret-', 'success', direction, x, y)"></el-button>自動擺盤架
	  </td>
	  <td>
		<el-button size="mini" type="primary" icon="el-icon-caret-right" circle
			@click="changeIcon('el-icon-caret-', 'primary', direction, x, y)"></el-button>冰淇淋挖勺
	  </td>
	</tr>
	<tr>
	  <td>
		<el-button size="mini" type="primary" icon="el-icon-menu" circle
			@click="changeIcon('el-icon-menu', 'primary', '', x, y)"></el-button>4格冰箱
	  </td>
	  <td>
		<el-button size="mini" type="primary" icon="el-icon-full-screen" circle
			@click="changeIcon('el-icon-full-screen', 'primary', '', x, y)"></el-button>冷凍庫
	  </td>
	  <td>
		<el-button size="mini" type="success" icon="el-icon-receiving" circle
			@click="changeIcon('el-icon-receiving', 'success', '', x, y)"></el-button>流理台
	  </td>
	</tr>
	<tr>
	  <td>
		<el-button size="mini" type="success" icon="el-icon-dish" circle
			@click="changeIcon('el-icon-dish', 'success', '', x, y)"></el-button>4/8盤子架
	  </td>
	  <td>
		<el-button size="mini" type="danger" icon="el-icon-dish-1" circle
			@click="changeIcon('el-icon-dish-1', 'danger', '', x, y)"></el-button>髒盤架
	  </td>
	  <td>
		<el-button size="mini" type="success" icon="el-icon-data-board" circle
			@click="changeIcon('el-icon-data-board', 'success', '', x, y)"></el-button>洗碗槽
	  </td>
	  <td>
		<el-button size="mini" type="primary" icon="el-icon-takeaway-box" circle
			@click="changeIcon('el-icon-takeaway-box', 'primary', '', x, y)"></el-button>浸泡槽
	  </td>
	</tr>
	<tr>
	  <td>
		<el-button size="mini" type="success" icon="el-icon-aim" circle></el-button>安全瓦斯爐
	  </td>
	  <td>
		<el-button size="mini" type="danger" icon="el-icon-aim" circle></el-button>高危瓦斯爐
	  </td>
	  <td>
		<el-button size="mini" type="warning" icon="el-icon-coordinate" circle></el-button>加熱攪拌器
	  </td>
	  <td>
		<el-button size="mini" type="danger" icon="el-icon-coordinate" circle></el-button>疾速攪拌器
	  </td>
	</tr>
	<tr>
	  <td>
		<el-button size="mini" type="danger" icon="el-icon-back" circle></el-button>智慧抓取器
	  </td>
	  <td>
		<el-button size="mini" type="warning" icon="el-icon-back" circle></el-button>抓取器
	  </td>
	  <td>
		<el-button size="mini" type="primary" icon="el-icon-back" circle></el-button>傳送帶
	  </td>
	</tr>
  </table>
  </el-dialog>
</div>
<script>
var vue = new Vue({
	el: '#app',
	data: {
		row: 1,
		col: 1,
		list: [[{type1: 'info', icon1: 'el-icon-minus'}]],
		direction: 'right',
		visible: false,
		x: 0,
		y: 0,
	},
	methods: {
		getVal: function(x, y, field){
			return this.list[y - 1][x - 1][field];
		},
		changeIcon: function(icon, type, direction, x, y) {
			var vm = this;
			this.visible = false;
			vm.$nextTick(function () {
				vm.list[y - 1][x - 1].type1 = type;
				vm.list[y - 1][x - 1].icon1 = icon + direction;
			});
		},
		pushRow: function(y) {
			var vm = this;
			vm.list = [[{type1: 'info', icon1: 'el-icon-minus'}]];
			for (let i = 0; i < y; i++) {
				var temp = [{type1: 'info', icon1: 'el-icon-minus'}];
			    vm.list.push(temp);
			}
		},
		pushCol: function(y, x) {
			var vm = this;
			vm.list = [];
			for (let i = 0; i < y; i++) {
				var temp = [];
				for (let j = 0; j < x; j++) {
					temp.push({type1: 'info', icon1: 'el-icon-minus'});
				}
				vm.list.push(temp);					
			}
		},
		
	},
	mounted: function() {
	},
})
</script>
