<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/vue@2.7.14/dist/vue.js"></script>
<script src="https://unpkg.com/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<script src="https://unpkg.com/element-ui/lib/index.js"></script>

<div id="app">    
	<el-calendar v-model="test" >
		<template
			slot="dateCell"
			slot-scope="{date, data}">
			<span>
			{{ data.day.split('-')[2] }} 
			</span>
			<span style="color: orange;">{{getWeight(data.day, '日')}}</span>
			<span style="color: blue;">{{getWeight(data.day, '夜')}}</span>
		</template>
	</el-calendar>
	<el-form label-position="right" label-width="80px" :model="record">
		<el-form-item label="時間">
			<el-radio-group v-model="record.type">
				<el-radio-button label="日" class="day"><i class="fa fa-sun-o" aria-hidden="true"></i></el-radio-button>
				<el-radio-button label="夜" class="night"><i class="fa fa-moon-o" aria-hidden="true"></i></el-radio-button>
			</el-radio-group>
		</el-form-item>
		<el-form-item label="體重">
			<el-input v-model="record.weight" clearable type="number">
			</el-input>
		</el-form-item>
		<el-form-item label="">
			<el-button type="primary" @click="send">儲存</el-button>
			<a href="../view.html">
				<el-button>查看圖表</el-button>
			</a>
		</el-form-item>
	</el-form>
</div>
<script>
var app = new Vue({
	el: '#app',
	data: {
	    view: {
	        alerts: [],
	        loading: false,
	        confirm: {
	            show: false,
	            message: '',
	            action: ''
	        },
	    },
		emptyRecord: {date: new Date().toLocaleDateString('zh-TW', 
			{ year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, ''),
			type: '日', weight: null},
		record: {date: new Date().toLocaleDateString('zh-TW', 
			{ year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, ''),
			type: '日', weight: null},
		range: '近一週',
		rangeItems: ['近一週', '近一個月', '近三個月'],
	    list: [],
		dateArray: [],
		dayWeights: [],
		nightWeights: [],
		processData: {},
		chart: null,
		test: new Date(),
	},
	computed: {
	    
	},
	methods: {
	    cloneObj: function(obj) {
	    	return JSON.parse(JSON.stringify(obj));
	    },
	    send: function() {
			var year = this.test.getFullYear();
		    var month = String(this.test.getMonth() + 1).padStart(2, '0');
		    var day = String(this.test.getDate()).padStart(2, '0');
			this.record.date = year + month + day;
            send(this.record);
		},
		query: function() {
		    query();
		},
		getWeight(date, type) {
			date = date.replaceAll('-', '');
			var temp = this.list.filter(function(el) {
				return el.date == date && el.type == type;
			});
			
			if(temp != undefined && temp.length > 0) {
				return temp[temp.length - 1].weight;
			}
			return ''
		},
	},
	mounted: function() {
		$($('.el-button--plain').find('span')[0]).html('<');
		$($('.el-button--plain').find('span')[2]).html('>');
		query(this);
	}
});

var url = "https://script.google.com/macros/s/AKfycbxwJSedgRpto9J97G0WDuezvBi567yQ-jq3jyts3S4kdktnE1R3Zql3Q3EEpqvHlSZr/exec";

// 查詢
function query(app) {
    app.view.loading = true;
	$.ajax({
	  // 這邊用get type
	  type: "post",
	  // api url - google appscript 產出的 url
	  url: 'https://script.google.com/macros/s/AKfycbw3XZZh9YqSNxWRlSUo65trYL2IMhN7RFcA_AsCiTycR7ue52sez25bxdMVLniZs-BFgw/exec',
	  // 剛剛整理好的資料帶入
	  data: {},
	  // 資料格式是JSON 
	  dataType: "JSON",
	  // 成功送出 會回頭觸發下面這塊感謝
	  success: function (response) {
		app.view.loading = false;
		app.list = response;
	  }
	});
}

// 傳送訂購資料
function send(data){
	app.view.loading = true;
    app.view.alerts = [];
	$.ajax({
    type: "post",
    url: url,
    data: data,
    dataType: "JSON",
    success: function () {
        app.view.loading = false;
        query();
		app.record = app.cloneObj(app.emptyRecord);
    }
  });
}

$(function(){
});
</script>
